body {
  background-image: url('videos/gif2.gif');
  background-size:cover ;
  background-repeat: no-repeat;
    background-attachment: fixed;
  height:100%;
  width:100%;
}

.btn1 {
  position: absolute;
  left: 50%;
  top: 75px;
  padding:0;
  margin:0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(65, 77, 83);
  color: white;
  font-size: auto;
  padding: 12px 24px;
  border: 0.2em solid rgb(27, 140, 206);
   transition: all 0.2s;
  cursor: pointer;
  border-radius: 5px;
  opacity: 65%;
}
.btn1:hover{
  border-color: rgba(255,255,255,1);

}
.btn2 {
  position: absolute;
    left: 50%;
    top: 130px;
    padding:0;
    margin:0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(65, 77, 83);
    color: white;
    font-size: auto;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 65%;
    border: 0.2em solid rgb(27, 140, 206);
    transition: all 0.2s;
}
.btn2:hover{
  border-color: rgba(255,255,255,1);
}
.btn3 {
  position: absolute;
    left: 50%;
    top: 185px;
    padding:0;
    margin:0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(65, 77, 83);
    color: white;
    font-size: auto;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 65%;
    border: 0.2em solid rgb(27, 140, 206);
    transition: all 0.2s;
}
.btn3:hover{
  border-color: rgba(255,255,255,1);
}
.btn4 {
  position: absolute;
    left: 50%;
    top: 240px;
    padding:0;
    margin:0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(65, 77, 83);
    color: white;
    font-size: auto;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 65%;
    border: 0.2em solid rgb(27, 140, 206);
    transition: all 0.2s;
}
.btn4:hover{
  border-color: rgba(255,255,255,1);
}
.btn5 {
  position: absolute;
    left: 50%;
    top: 295px;
    padding:0;
    margin:0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(65, 77, 83);
    color: white;
    font-size: auto;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 65%;
    border: 0.2em solid rgb(27, 140, 206);
    transition: all 0.2s;
}
.btn5:hover{
  border-color: rgba(255,255,255,1);
}
.btn6 {
  position: absolute;
    left: 50%;
    top: 350px;
    padding:0;
    margin:0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(65, 77, 83);
    color: white;
    font-size: auto;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;  
    opacity: 65%;
    border: 0.2em solid rgb(27, 140, 206);
    transition: all 0.2s;
}
.btn6:hover{
  border-color: rgba(255,255,255,1);
}
.btn7 {
  position: absolute;
    left: 50%;
    top: 405px;
    padding:0;
    margin:0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(65, 77, 83);
    color: white;
    font-size: auto;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 65%;
    border: 0.2em solid rgb(27, 140, 206);
    transition: all 0.2s;
}
.btn7:hover{
  border-color: rgba(255,255,255,1);
}
.btn8 {
  position: absolute;
    left: 50%;
    top: 460px;
    padding:0;
    margin:0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(65, 77, 83);
    color: white;
    font-size: auto;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 65%;
    border: 0.2em solid rgb(27, 140, 206);
    transition: all 0.2s;
}

.btn8:hover{
  border-color: rgba(255,255,255,1);
}


a.button1{
  position: absolute;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  left: 50%;
   top: 0%;
   background-color: rgba(184, 194, 199, 0.575);

  }

  a.button1:hover{
  color:#000000;
  background-color: rgb(255, 255, 255);
  }